.navbar-home {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out; /* Add transition effect */
    border-radius: 2px;
  }
  
  .navbar-home:hover {
    color: black; /* Change color on hover */
    font-size: 1.8rem; /* Increase font size on hover */
    background-color: aqua;
  }